{% include "hospital/navbar.html" %}
{% load static %}

{% block content %}

</br></br></br></br></br></br></br>

<div class="row">
<div style="margin-left: 120px">
<div class="dropdown show">
  <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    specialization
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Gynaecology</a>
    <a class="dropdown-item" href="#">Deramtology</a>
    <a class="dropdown-item" href="#">Psychiatry</a>
  </div>
</div>

</div>

<form class="form-inline my-2 my-lg-0" style="margin-left: 200px">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

</div>

<div class="row">
<div class="p-5" style="margin-left: 80px">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Specialization</h5>
    <h6 class="card-subtitle mb-2 text-muted">Name of doctor</h6>
    <p class="card-text">About, Work Experience, Details and areas of expertise</p>
    <a href="#" class="card-link">Conatct Details</a>
    <a href="#" class="card-link">Location</a>
  </div>
</div>
</div>

<div class="p-5">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Specialization</h5>
    <h6 class="card-subtitle mb-2 text-muted">Name of doctor</h6>
    <p class="card-text">About, Work Experience, Details and areas of expertise</p>
    <a href="#" class="card-link">Conatct Details</a>
    <a href="#" class="card-link">Location</a>
  </div>
</div>
</div>

<div class="p-5">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Specialization</h5>
    <h6 class="card-subtitle mb-2 text-muted">Name of doctor</h6>
    <p class="card-text">About, Work Experience, Details and areas of expertise</p>
    <a href="#" class="card-link">Conatct Details</a>
    <a href="#" class="card-link">Location</a>
  </div>
</div>
</div>

<div class="p-5">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Specialization</h5>
    <h6 class="card-subtitle mb-2 text-muted">Name of doctor</h6>
    <p class="card-text">About, Work Experience, Details and areas of expertise</p>
    <a href="#" class="card-link">Conatct Details</a>
    <a href="#" class="card-link">Location</a>
  </div>
</div>
</div>
</div>

{% endblock content %}